@using System.Linq.Expressions
@using Application.ViewModels
@model Application.ViewModels.Test

@{
    ViewBag.Title = "title";
    ViewBag.ListName = nameof(Model.Health);
    Layout = "_Layout";
}






<form method="post">
   
    @Html.EditorFor(m=>m)
 

    <div>
        <input id="btnAddItem" type="button"

               onclick="addRow();" value="Add Item"/>
    </div>
    @Model.Address[0].GetType().Name
    
    <table>
        <thead>
        <tr>
            <td>
                Title
            </td>
            <td>
                Published Date
            </td>
        </tr>
        </thead>
        <tbody id="tbItems">
        
        @for (var i = 0; i < Model.Address.Count; i++)
        {
            <tr id="trItem@(i)">
                <td style='display:none'><input name='Address.Index' type='hidden' value='@(i)' /></td>
                <td><input  name='Address[@(i)].Flat' type='text' value='@Model.Address[i].Flat' /></td>
                <td><input  name='Address[@(i)].Street' type='text' value='@Model.Address[i].Street' /></td>
                <td><a href="#" class="btn btn-link text-danger" id='btnAddItem' onclick='removeRow(@(i));' ><i class="fas fa-trash-alt"></i></a></td>
            </tr>
        }
      
        
        </tbody>
    </table>

  
    

    @{
        Html.RenderPartial("~/Views/Partial/AddOrEdit/HealthIssues.cshtml", Model.Health, new ViewDataDictionary(ViewData) {{"PropertyName", nameof(Model.Health)}});
    }
  
   
    <p>
        <input type="submit" value="Create" />
    </p>

</form>


<script language="javascript" type="text/javascript">
    function addRow() {

        @{
            //TODO:
            //For validation? Check it
           Model.Address.Add(new AddressViewModel());
        }

        var index = $("#tbItems").children("tr").length;

        var indexCell = "<td style='display:none'><input name='Address.Index' type='hidden' value='" + index + "' /></td>";
        var titleCell = "<td><input name='Address[" + index + "].Flat' type='text' value='' /></td>";
        var publishedCell = "<td><input name='Address[" + index + "].Street' type='text' value='' /></td>";
        var removeCell = "<td><a href='#' class='btn btn-link text-danger' id='btnAddItem' onclick='removeRow(" + index + ");' ><i class='fas fa-trash-alt'></i></a></td>";

        var newRow = "<tr id='trItem" + index + "'>" + indexCell + titleCell + publishedCell + removeCell + "</tr>";
        $("#tbItems").append(newRow);
    }

    function removeRow(id) {
        var controlToBeRemoved = "#trItem" + id;
        $(controlToBeRemoved).remove();
    }
</script>
