@using Application.Data.Models
@using Application.Models
@model List<HealthIssueViewModel>
@{
	ViewBag.Source = "Player.HealthIssues";
	ViewBag.FormName = "HealthIssues";
		
}
@(ViewBag.FormName) 
<div class="col-md mt-4">
		    <div class="card bg-transparent">
		        <div class="card-body">
			        <div>
				        <input id="btnAddItem" type="button"

				               onclick="addRow@(ViewBag.FormName)();" value="Add Item"/>
			        </div>
			        
			           
			        
			        <table class="table">
				        <thead>
				        <tr>
					        <th scope="col">Date</th>
					        <th scope="col">Name</th>
					        <th scope="col">Edit</th>
					        <th scope="col">Delete</th>
				        </tr>
				        </thead>
			    
				        <tbody id="table@(ViewBag.FormName)">
						
				        
				        @for (var i = 0; i < Model.Count; i++)
				        {
					        
					        <tr id="trItem@(ViewBag.FormName)@(i)">
						        <td  style='display:none'><input id='@(ViewBag.Source).Index' name='@(ViewBag.Source).Index' type='hidden' value='@(i)' /></td>
						        <td scope="row"><input id='@(ViewBag.Source)[@(i)].Date' name='@(ViewBag.Source)[@(i)].Date' type='hidden' value='@Model[i].Date' />@Model[i].Date</td>
						        <td><input id='@(ViewBag.Source)[@(i)].Name'  name='@(ViewBag.Source)[@(i)].Name' type='hidden' value='@Model[i].Name' />@Model[i].Name</td>
						        <td style="display:none;"><input  type="hidden" id='@(ViewBag.Source)[@(i)].Description' name='@(ViewBag.Source)[@(i)].Description' type='text' value='@Model[i].Description' /></td>
						        <td><a href="#" class="btn btn-link text-primary" id='btnAddItem' onclick='editRow@(ViewBag.FormName)(@(i));' ><i class="fas fa-edit"></i></a></td>
						        <td><a href="#" class="btn btn-link text-danger" id='btnAddItem' onclick='removeRow@(ViewBag.FormName)(@(i));' ><i class='fas fa-trash-alt'></i></a></td>
					        </tr>
				        }
      
				      
        
				        </tbody>
			        </table>
			        
			        <script language="javascript" type="text/javascript">
	                    function addRow@(ViewBag.FormName)() {

		                    @{
			                    //TODO:
			                    //For validation? Check it
			                    Model.Add(new HealthIssueViewModel());
		                    }

		                    var index = $("#table@(ViewBag.FormName)").children("tr").length;

		                    var indexCell = "<td style='display:none'><input id='@(ViewBag.Source).Index' name='@(ViewBag.Source).Index' type='hidden' value='" + index + "' /></td>";
		                    var value1 = "<td scope='row'><input id='@(ViewBag.Source)[" + index + "].Date' name='@(ViewBag.Source)[" + index + "].Date' type='text' value='' /></td>";
		                    var value2 = "<td><input id='@(ViewBag.Source)[" + index + "].Name' name='@(ViewBag.Source)[" + index + "].Name' type='text' value='' /></td>";
		                    var value3 = "<td style='display:none;'><input  type='hidden' id='@(ViewBag.Source)[" + index + "].Description' name='@(ViewBag.Source)[" + index + "].Description' type='text' value='' /></td>";
		                    var editCell = "<td><a href='#' class='btn btn-link text-primary' id='btnAddItem' onclick='editRow@(ViewBag.FormName)(" + index + ");' ><i class='fas fa-edit'></i></a></td>";
		                    var removeCell = "<td><a href='#' class='btn btn-link text-danger' id='btnAddItem' onclick='removeRow@(ViewBag.FormName)(" + index + ");' ><i class='fas fa-trash-alt'></i></a></td>";

		                    var newRow = "<tr id='trItem@(ViewBag.FormName)" + index + "'>" + indexCell + value1 + value2 + value3 + editCell + removeCell + "</tr>";
		                    console.log(newRow);
		                    $("#table@(ViewBag.FormName)").append(newRow);
	                    }

	                    function removeRow@(ViewBag.FormName)(id) {
		                    var controlToBeRemoved = "#trItem@(ViewBag.FormName)" + id;
		                    $(controlToBeRemoved).remove();
	                    }

	                    function editRow@(ViewBag.FormName)(id) {
		                    
	                    }
	                    
	             
	                    var AddEditEmployee = function (employeeId) {

		                    var url = "/Forms/AddMember";

		                    $("#modalBody").load(url,
			                    function() {
				                    $("#modalWindow").modal("show");
				                    console.log("open");
				                
			                    });

	                    }


	                    $(document).on('hide.bs.modal','#modalWindow', function () {
		                   alert('');
		                   
	                    });
                    </script>

			        <div class="modal fade bd-example-modal-lg" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				        <div class="modal-dialog">
					        <div class="modal-content">
						        <div class="modal-header">
							        <a href="#" class="close" data-dismiss="modal">&times;</a>
							        <h3 class="modal-title">AddEdit Employee</h3>
						        </div>
						        <div class="modal-body" id="modalBody">


						        </div>


					        </div>

				        </div>
			        </div>
			        
			       
		        </div>
		    </div>
		</div>
<a href="#" class="btn btn-primary" onclick="AddEditEmployee(0)">Add New Employee </a>

